#contact-me-container{
  text-align: center;
  margin: 10rem 3rem 0 3rem;
  height: auto;
}
#contact-flex{
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  max-width: 60rem;
  margin: 0 auto; /*This will center it horizontally*/
  font-size: 1rem;
  padding: 1rem;
  column-gap: 2rem;
}
#contact-inputs{
  display: flex;
  text-align: left;
  flex-direction: column;
  flex: 2;
}
#contact-inputs input{
  margin-bottom: 2rem;
}
#contact-message-container{
  display: flex;
  flex-direction: column;
  flex: 3;
}
#contact-message-container textarea{
  resize: none;
  height: auto;
}
.submit-button{
  align-self: flex-end;
  width: 10rem;
  margin-top: 2rem;
  height: 3rem;
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: capitalize;
  background: rgb(34, 56, 93);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}
.submit-button:hover{
  background: rgb(34, 56, 93,0.8);
  transition: 0.2s;
}