#contact-me-container{
  text-align: center;
  margin-top: 300px;
  height: auto;
}
#contact-flex{
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto; /*This will actually center it horizontally*/
  font-size: 18px;
  padding: 20px;
}
#contact-inputs{
  display: flex;
  text-align: left;
  flex-direction: column;
  flex: 2;
}
#contact-inputs input{
  margin-bottom: 30px;
}
#contact-message-container{
  display: flex;
  flex-direction: column;
  flex: 3;
  margin-left: 30px;
}
#contact-message-container textarea{
  resize: none;
  height: auto;
}
.submit-button{
  align-self: flex-end;
  width: 200px;
  margin-top: 40px;
  height: 50px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  background: rgb(34, 56, 93);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.submit-button:hover{
  background: rgb(34, 56, 93,0.8);
  transition: 0.2s;
}