body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: didot, serif;
}
main{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 2rem;
}
button{
  cursor: pointer;
}
#aboutMe-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5rem 3rem;
  flex-wrap: wrap;
  column-gap: 2rem;
}
#myPhoto-div{
  display: flex;
  /*background-color: grey;*/
  flex: 1;
  justify-content: center;
}
#myImage{
  border: solid .2rem white;
  height: 24rem;
  border-radius: 12rem;
}
#aboutMe-rightSide{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-content: flex-start;
  row-gap: 0;
}
#aboutMe-rightSide h1, h2{
 text-align: center;
 margin-top: 1rem;
 margin-bottom: 1rem;
}
#background-container{
  min-height: 100vh;
}
#second-background{
  background: linear-gradient(to bottom, rgb(255, 255, 255, 0),rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 1));
  padding-bottom: 2rem;
  margin-top: 6rem;
}
